.header {
    position: absolute; /* Position it over the map */
    top: 10px;
    left: 10px; /* Adjust to provide some spacing from the left */
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional shadow for better UI distinction */
    z-index: 1; /* To ensure it floats above the map */
}

.logo {
    width: 220px; /* Adjust according to your preference */
    margin-bottom: 20px;
}

.selection-menus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent; /* Ensure this is transparent */
}

.map-style-selector {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    z-index: 1000 !important;
    width: 200px !important;
}