.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Aligns items to the left */
    gap: 10px;  /* Spacing between the logo and the selection menus */
}

.logo {
    width: 210px;
    height: auto;
    z-index: 1000;
}

.selection-menus {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Spacing between the two Select components */
}

.map-style-selector {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    width: 200px;
}
